/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	#faq-2294 {
		padding: var(--sectionPadding);
		padding-top: 13rem;
		background-color: var(--backgroundColor);
		position: relative;
		margin-bottom: 9rem;
	}
	#faq-2294 .cs-container {
		width: 100%;
		/* changes to 1440px at large desktop */
		max-width: 67.5rem;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		/* 32px - 64px */
		gap: clamp(2rem, 4vw, 4rem);
	}
	#faq-2294 .cs-content {
		/* set text align to center if content needs to be centrally aligned */
		text-align: left;
		width: 100%;
		/* 48px - 64px */
		margin-bottom: clamp(3rem, 6vw, 4rem);
		display: flex;
		flex-direction: column;
		/* aligns content to the left, set to center to centrally align */
		align-items: flex-start;
	}
	#faq-2294 .cs-title {
		margin: 0;
	}
	#faq-2294 .cs-faq-picture {
		width: 100%;
		/* 360px - 400px */
		height: clamp(22.5rem, 54vw, 25rem);
		display: block;
	}
	#faq-2294 .cs-faq-picture img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	#faq-2294 .cs-faq {
		width: 100%;
		margin: 2rem 0 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0.75rem;
	}
	#faq-2294 .cs-faq-item {
		list-style: none;
		width: 100%;
		background-color: #eff1f4;
		/* clips all corners of the button that overlap the rounded border */
		overflow: hidden;
		position: relative;
		transition: border 0.3s;
	}
	#faq-2294 .cs-faq-item.active {
		background-color: #eff1f4;
	}
	#faq-2294 .cs-faq-item.active .cs-button {
		background-color: #eff1f4;
		border: none;
	}
	#faq-2294 .cs-faq-item.active .cs-button::before,
	#faq-2294 .cs-faq-item.active .cs-button::after {
		transform: rotate(0deg);
	}
	#faq-2294 .cs-faq-item.active .cs-item-p {
		height: auto;
		padding: 0 2.5rem 1.25rem 1.25rem;
		opacity: 1;
		white-space: pre-line;
	}
	#faq-2294 .cs-faq-item.active::after {
		width: 100%;
	}
	#faq-2294 .cs-faq-item:hover::after {
		width: 100%;
	}
	#faq-2294 .cs-faq-item::after {
		content: "";
		width: 0;
		height: 0.25rem;
		background-color: var(--secondary);
		position: absolute;
		bottom: 0;
		left: 0;
		transition: width 0.3s ease;
	}
	#faq-2294 .cs-button {
		font-size: 1rem;
		font-weight: 700;
		line-height: 1.2em;
		text-align: left;
		width: 100%;
		/* 20px - 24px */
		padding: clamp(1.25rem, 2vw, 1.5rem);
		background-color: #fff;
		color: var(--headerColor);
		border: 1px solid #f3f3f3;
		display: block;
		position: relative;
		transition: background-color 0.3s, color 0.3s;
	}
	#faq-2294 .cs-button:hover {
		cursor: pointer;
	}
	#faq-2294 .cs-button:before {
		/* horizontal line */
		content: "";
		width: 0.75rem;
		height: 0.125rem;
		background-color: #a0a1a3;
		opacity: 1;
		border-radius: 0.125rem;
		display: block;
		position: absolute;
		top: 50%;
		right: 1.3125rem;
		transform: rotate(270deg);
		transition: transform 0.3s;
		/* center origin for rotation */
		transform-origin: center center;
	}
	#faq-2294 .cs-button:after {
		/* vertical line */
		content: "";
		width: 0.75rem;
		height: 0.125rem;
		background-color: #a0a1a3;
		opacity: 1;
		border-radius: 0.125rem;
		display: block;
		position: absolute;
		top: 50%;
		right: 1.3125rem;
		transform: rotate(180deg);
		transition: transform 0.3s;
		/* center origin for rotation */
		transform-origin: center center;
	}
	#faq-2294 .cs-button-text {
		width: 80%;
		display: block;
	}
	#faq-2294 .cs-item-p {
		font-size: 1rem;
		line-height: 1.5em;
		height: 0;
		margin: 0;
		padding: 0;
		/* clips the text so it doesn't show up */
		overflow: hidden;
		color: var(--bodyTextColor);
		opacity: 0;
		transition: opacity 0.3s, padding-bottom 0.3s;
	}
	#faq-2294 .cs-picture-group {
		width: 100%;
		padding: 1rem;
		padding-top: 6.25rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
		position: relative;
		/* faded background */
	}
	#faq-2294 .cs-picture-group::before {
		content: "";
		width: 100%;
		height: 100%;
		background: linear-gradient(
				180deg,
				rgba(20, 22, 21, 0) 22.78%,
				#141615 69.37%
			),
			50% / cover no-repeat;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
	#faq-2294 .cs-picture {
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
	}
	#faq-2294 .cs-picture img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	#faq-2294 .cs-h3 {
		font-size: 1.5625rem;
		font-weight: 700;
		line-height: 1.2em;
		margin: 0 0 0.5rem;
		color: var(--bodyTextColorWhite);
		position: relative;
		z-index: 2;
	}
	#faq-2294 .cs-text {
		margin-bottom: 2rem;
		color: var(--bodyTextColorWhite);
		position: relative;
		z-index: 2;
	}
	#faq-2294 .cs-button-solid {
		font-size: 1rem;
		font-weight: 700;
		/* 46px - 56px */
		line-height: clamp(2.875rem, 5.5vw, 3.5rem);
		text-align: center;
		text-decoration: none;
		min-width: 9.375rem;
		margin: 0;
		padding: 0 1.5rem;
		background-color: var(--primary);
		color: var(--bodyTextColorWhite);
		display: inline-block;
		position: relative;
		z-index: 1;
	}
	#faq-2294 .cs-button-solid:before {
		content: "";
		width: 0%;
		height: 100%;
		background: #000;
		opacity: 1;
		border-radius: 0.25rem;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: width 0.3s;
	}
	#faq-2294 .cs-button-solid:hover:before {
		width: 100%;
	}
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
	#faq-2294 .cs-faq-group {
		display: grid;
		grid-template-columns: auto auto;
		/* 32px - 48px */
		column-gap: clamp(2rem, 5vw, 3rem);
	}
	#faq-2294 .cs-content {
		grid-column: span 2;
	}
	#faq-2294 .cs-faq-picture {
		height: 100%;
		grid-column: span 1;
	}
	#faq-2294 .cs-faq {
		margin: 0;
		grid-column: span 1;
	}
	#faq-2294 .cs-picture-group {
		min-height: 26rem;
		padding: 2.5rem;
	}
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
	#faq-2294 .cs-container {
		max-width: 90rem;
		flex-direction: row;
		align-items: flex-start;
	}
	#faq-2294 .cs-faq {
		justify-content: flex-start;
	}
	#faq-2294 .cs-faq-picture {
		height: 27.5rem;
	}
	#faq-2294 .cs-picture-group {
		min-height: 36.625rem;
		width: 25.8125rem;
		flex: 1 0 auto;
	}
}
