/*-- -------------------------- -->
<---       Call To Action       -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
	#cta-2443 {
		padding: var(--sectionPadding);
		background-color: #010104;
		position: relative;
		z-index: 1;
		margin-bottom: 15rem;
	}
	#cta-2443 .cs-container {
		width: 100%;
		max-width: 80rem;
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		/* 40px - 48px */
		gap: clamp(2.5rem, 5vw, 3.5rem);
	}
	#cta-2443 .cs-content {
		/* set text align to left if content needs to be left aligned */
		text-align: left;
		width: 100%;
		display: flex;
		flex-direction: column;
		/* centers content horizontally, set to flex-start to left align */
		align-items: flex-start;
		gap: 2rem;
	}
	#cta-2443 .cs-title {
		font-size: clamp(1.8125rem, 4vw, 3rem);
		font-weight: 500;
		margin: 0;
		color: var(--bodyTextColorWhite);
		flex: none;
		max-width: 60%;
	}
	#cta-2443 .cs-text {
		margin-bottom: 1rem;
		color: var(--bodyTextColorWhite);
		opacity: 0.8;
	}
	#cta-2443 .cs-text:last-of-type {
		margin-bottom: 2rem;
	}
	#cta-2443 .cs-button-solid {
		font-size: 1rem;
		/* 46px - 56px */
		line-height: clamp(2.875em, 5.5vw, 3.5em);
		text-decoration: none;
		font-weight: 700;
		text-align: center;
		margin: 0;
		color: #fff;
		min-width: 9.375rem;
		padding: 0 1.5rem;
		background-color: var(--secondary);
		border-radius: 0.25rem;
		display: inline-block;
		position: relative;
		z-index: 1;
		/* prevents padding from adding to the width */
		box-sizing: border-box;
	}
	#cta-2443 .cs-button-solid:before {
		content: "";
		position: absolute;
		height: 100%;
		width: 0%;
		background: var(--primary);
		opacity: 1;
		top: 0;
		left: 0;
		z-index: -1;
		border-radius: 0.25rem;
		transition: width 0.3s;
	}
	#cta-2443 .cs-button-solid:hover:before {
		width: 100%;
	}
	#cta-2443 .cs-background {
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
	#cta-2443 .cs-background img {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: 0.08;
		/* Makes img tag act as a background image */
		object-fit: cover;
	}
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
	#cta-2443 .cs-content {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	#cta-2443 .cs-flex {
		max-width: 23.25rem;
	}
}
