/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	#cta-697b {
		padding: var(--sectionPadding);
		background-color: var(--secondary);
		position: relative;
		margin-bottom: 10rem;
	}
	#cta-697b .cs-container {
		width: 100%;
		max-width: 80rem;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		/* 48px - 64px */
		gap: clamp(3rem, 6vw, 4rem);
	}
	#cta-697b .cs-content {
		/* set text align to left if content needs to be left aligned */
		text-align: center;
		width: 100%;
		display: flex;
		flex-direction: column;
		/* centers content horizontally, set to flex-start to left align */
		align-items: center;
		/* 48px - 64px */
		gap: clamp(3rem, 6vw, 4rem);
	}
	#cta-697b .cs-title {
		color: var(--bodyTextColorWhite);
	}
	#cta-697b .cs-text {
		color: var(--bodyTextColorWhite);
		font-size: var(--bodyFontSize);
		font-family: var(--fontHeader);
	}
	#cta-697b .cs-button-solid {
		font-size: 1rem;
		/* 46px - 56px */
		line-height: clamp(2.875rem, 5.5vw, 3.5rem);
		text-decoration: none;
		font-weight: 700;
		text-align: center;
		margin: 0;
		color: var(--bodyTextColorWhite);
		min-width: 9.375rem;
		padding: 0 1.5rem;
		background-color: var(--primary);
		border-radius: 0.25rem;
		display: inline-block;
		position: relative;
		z-index: 2;
		/* prevents padding from adding to the width */
		box-sizing: border-box;
		text-wrap: nowrap;
	}
	#cta-697b .cs-button-solid:before {
		content: "";
		position: absolute;
		height: 100%;
		width: 0%;
		background: #000;
		opacity: 1;
		top: 0;
		left: 0;
		z-index: -1;
		border-radius: 0.25rem;
		transition: width 0.3s;
	}
	#cta-697b .cs-button-solid:hover:before {
		width: 100%;
	}
	#cta-697b .cs-background {
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		/* makes it act like a background image */
		object-fit: cover;
	}
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
	#cta-697b .cs-content {
		text-align: left;
		flex-direction: row;
		justify-content: space-between;
	}
}
