/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	#sbs-75 {
		padding: var(--sectionPadding);
		/* clips the red box from causing overflow issues */
		overflow: hidden;
	}
	#sbs-75 .cs-container {
		width: 100%;
		/* changes to 1280px at tablet */
		max-width: 34.375rem;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		/* 48px - 64px */
		gap: clamp(3rem, 6vw, 4rem);
	}
	#sbs-75 .cs-content {
		/* set text align to left if content needs to be left aligned */
		text-align: left;
		width: 100%;
		max-width: 33.875rem;
		margin-right: auto;
		display: flex;
		flex-direction: column;
		/* centers content horizontally, set to flex-start to left align */
		align-items: flex-start;
	}

	#sbs-75 .cs-text {
		margin-bottom: 1rem;
	}
	#sbs-75 .cs-text:last-of-type {
		margin-bottom: 2rem;
	}

	#sbs-75 .cs-wrapper {
		width: 95%;
		max-width: 34.375rem;
		/* 28px - 80px */
		/* pushes up and down by the same amount the decorative box overflows the wrapper */
		margin: clamp(1.75em, 7.8vw, 5em) 0;
		position: relative;
	}
	#sbs-75 .cs-wrapper:before {
		/* Red decorative box */
		content: "";
		/* make it huge so it covers everything on the left as it overflows */
		width: 50em;
		background: var(--secondary);
		opacity: 1;
		border-radius: 1rem;
		position: absolute;
		display: block;
		/* 28px - 80px */
		/* wrapped in a calc function to get a negative clamp value */
		top: calc(clamp(1.75em, 7.8vw, 5em) * -1);
		bottom: calc(clamp(1.75em, 7.8vw, 5em) * -1);
		right: 4.0625em;
		z-index: -1;
	}
	#sbs-75 .cs-picture {
		width: 100%;
		margin: 0;
		position: relative;
		display: block;
		/* width divided by height */
		aspect-ratio: 0.93134328;
		border-radius: 1rem;
		z-index: 1;
	}
	#sbs-75 .cs-picture:before {
		/* Top right box */
		content: "";
		width: 10rem;
		/* 202px - 248px */
		height: clamp(12.625rem, 25vw, 15.5rem);
		background: var(--primary);
		opacity: 1;
		border-radius: 1rem;
		position: absolute;
		display: block;
		/* 16px -20px */
		/* wrapped in a calc function to get a negative clamp value */
		top: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
		right: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
	}
	#sbs-75 .cs-picture:after {
		/* Bottom left box */
		content: "";
		width: 10rem;
		/* 202px - 248px */
		height: clamp(12.625rem, 25vw, 15.5rem);
		background: var(--primary);
		opacity: 1;
		border-radius: 1rem;
		position: absolute;
		display: block;
		/* 16px -20px */
		/* wrapped in a calc function to get a negative clamp value */
		bottom: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
		left: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
		z-index: -1;
	}
	#sbs-75 .cs-picture img {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
		border-radius: 1rem;
	}
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
	#sbs-75 .cs-container {
		max-width: 80rem;
		flex-direction: row;
		justify-content: flex-start;
		/* 60px - 128px */
		gap: clamp(3.75rem, 9.5vw, 8rem);
	}
	#sbs-75 .cs-wrapper {
		/* 328px - 502px */
		width: clamp(20.5rem, 37.5vw, 31.375rem);
		/* 440px - 520px */
		height: clamp(27.5rem, 40vw, 32.5rem);
		flex: none;
	}
	#sbs-75 .cs-picture {
		/* 16px - 20px */
		margin: 0 0 0 clamp(1rem, 5vw, 1.25rem);
		height: 100%;
		flex: none;
	}
	#sbs-75 .cs-content {
		width: 45%;
	}
}
