/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	#hero-491 {
		/* Centers button */
		text-align: left;
		/* 144px - 260px - leaving extra space for the navigation */
		padding: clamp(9rem, 25.95vw, 16.25rem) 1rem 0;
		/* 60px - 100px */
		padding-bottom: clamp(3.75rem, 7.82vw, 6.25rem);
		/* prevents the topper line from causing an overflow */
		overflow: hidden;
		position: relative;
		z-index: 1;
	}
	#hero-491 .cs-background {
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -2;
	}
	#hero-491 .cs-background:before {
		/* Overlay */
		content: "";
		width: 100%;
		height: 100%;
		background: #001f3f;
		opacity: 0.3;
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		z-index: 1;
		/* prevents the cursor from interacting with it */
		pointer-events: none;
	}
	#hero-491 .cs-background img {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
	#hero-491 .cs-container {
		width: 100%;
		/* changes to 1280px at tablet */
		max-width: 34.375rem;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		/* changes at tablet */
		gap: 3rem;
	}
	#hero-491 .cs-content {
		width: 100%;
		max-width: 41.25rem;
	}
	#hero-491 .cs-topper {
		/* 16px - 20px */
		font-size: clamp(1rem, 1.5vw, 1.25rem);
		line-height: 1.2em;
		font-weight: 700;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		margin-bottom: 1rem;
		padding-left: 3.75rem;
		color: #fff;
		display: block;
		position: relative;
	}
	#hero-491 .cs-topper:before {
		content: "";
		/* make it really long so it always goes off screen */
		width: 62.5rem;
		height: 2px;
		background: var(--secondary);
		opacity: 1;
		position: absolute;
		display: block;
		top: 50%;
		transform: translateY(-50%) translateX(2.1875rem);
		right: 100%;
	}
	#hero-491 .cs-title {
		/* 39px - 61px */
		font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
		font-weight: 700;
		line-height: 1.2em;
		text-align: left;
		max-width: 51.8125rem;
		/* 16px - 24px */
		margin: 0 auto clamp(1rem, 4vw, 1.5rem) 0;
		color: #fff;
		position: relative;
	}
	#hero-491 .cs-text {
		/* 16px - 20px */
		font-size: clamp(1rem, 1.95vw, 1.25rem);
		line-height: 1.5em;
		text-align: left;
		width: 100%;
		/* 464px - 622px */
		max-width: clamp(29rem, 60vw, 38.785rem);
		margin: 0 auto 0 0;
		margin-bottom: 2.25rem;
		color: #fff;
	}
	#hero-491 .cs-button-solid {
		font-size: 1rem;
		line-height: 3.5rem;
		text-decoration: none;
		font-weight: 700;
		margin: auto;
		color: var(--bodyTextColorWhite);
		padding: 0 1.5rem;
		background-color: var(--secondary);
		border-radius: 0.25rem;
		display: inline-block;
		position: relative;
		z-index: 1;
		transition: color.3s;
	}
	#hero-491 .cs-button-solid:before {
		content: "";
		position: absolute;
		display: block;
		height: 100%;
		width: 0%;
		background: #000;
		opacity: 1;
		top: 0;
		left: 0;
		z-index: -1;
		border-radius: 0.25rem;
		transition: width 0.3s;
	}
	#hero-491 .cs-button-solid:hover {
		color: #fff;
	}
	#hero-491 .cs-button-solid:hover:before {
		width: 100%;
	}
	#hero-491 .cs-card-group {
		width: 100%;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		/* 16px - 20px */
		gap: clamp(1rem, 2vw, 1.25rem);
	}
	#hero-491 .cs-item {
		list-style: none;
		width: 100%;
		margin: 0;
		position: relative;
		z-index: 1;
	}
	#hero-491 .cs-item:hover:before {
		background-color: var(--secondary);
		color: var(--bodyTextColorWhite);
	}
	#hero-491 .cs-item:before {
		/* white overlay */
		content: "";
		width: 100%;
		height: 100%;
		background: #fafbfc;
		opacity: 0.68;
		/* prevents the mouse from interacting with it */
		pointer-events: none;
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		transition: background-color 0.3s;
	}
	#hero-491 .cs-link {
		text-decoration: none;
		width: 100%;
		/* 24px - 40px */
		padding: clamp(1.5rem, 1.5vw, 2.5rem);
		/* removed at tablet */
		aspect-ratio: 2.03726708;
		/* prevents padding from affecting width and height */
		box-sizing: border-box;
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
	}
	#hero-491 .cs-h2 {
		/* 20px - 25px */
		font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
		line-height: 1.2em;
		font-weight: 700;
		width: 100%;
		margin: 0;
		color: var(--headerColor);
		position: relative;
		z-index: 10;
	}
	#hero-491 .cs-picture {
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
	#hero-491 .cs-picture img {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
	#hero-491 .cs-container {
		max-width: 80rem;
		justify-content: flex-start;
		/* 96px - 164px */
		gap: clamp(6rem, 13vw, 10.25rem);
	}
	#hero-491 .cs-card-group {
		flex-direction: row;
	}
	#hero-491 .cs-item {
		width: 100%;
	}
	#hero-491 .cs-link {
		aspect-ratio: 0;
		/* 160px - 233px */
		height: clamp(10rem, 18vw, 14.5625rem);
	}
}
