/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	#cta-1294 {
		width: 100%;
		max-width: 80rem;
		margin: auto;
		margin-bottom: -5.625rem;
		overflow: hidden;
		/* 40px - 80px */
		padding: clamp(2.5rem, 5vw, 5rem);
		/* prevents padding and border from affecting height and width */
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		z-index: 15;
		transform: translateY(-50%);
	}
	#cta-1294 .cs-content {
		/* set text align to left if content needs to be left aligned */
		text-align: center;
		width: 100%;
		/* changes to 100% at tablet */
		max-width: 25rem;
		display: flex;
		flex-direction: column;
		/* centers content horizontally, set to flex-start to left align */
		align-items: center;
		gap: 1.5rem;
	}
	#cta-1294 .cs-title {
		width: 100%;
		margin: 0;
		text-align: center;
		color: var(--bodyTextColorWhite);
		font-size: clamp(1.5rem, 2.7vw, 3rem);
	}
	#cta-1294 .cs-form {
		width: 100%;
		max-width: 45.3125rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		/* prevents flexbox from squishing it */
		flex: none;
	}
	#cta-1294 .cs-input {
		font-size: 1rem;
		width: 100%;
		height: clamp(2.875rem, 5.5vw, 3.5rem);
		margin: 0;
		padding: 0;
		padding-left: 1.25rem;
		border: none;
		/* prevents padding from adding to width and height */
		box-sizing: border-box;
		display: block;
	}
	#cta-1294 .cs-input::placeholder {
		color: #767676;
	}
	#cta-1294 .cs-button-solid {
		font-size: 1rem;
		/* 46px - 56px */
		line-height: clamp(2.875rem, 5.5vw, 3.5rem);
		text-decoration: none;
		font-weight: 700;
		text-align: center;
		margin: 0;
		color: #fff;
		min-width: 9.375rem;
		padding: 0 1.5rem;
		border-radius: 0.25rem;
		background-color: var(--primary);
		display: inline-block;
		position: relative;
		z-index: 1;
		/* prevents padding from adding to the width */
		box-sizing: border-box;
		text-wrap: nowrap;
	}
	#cta-1294 .cs-button-solid:before {
		content: "";
		position: absolute;
		height: 100%;
		width: 0%;
		background: #000;
		opacity: 1;
		top: 0;
		left: 0;
		z-index: -1;
		transition: width 0.3s;
	}
	#cta-1294 .cs-button-solid:hover:before {
		width: 100%;
	}
	#cta-1294 .cs-button-solid {
		background-color: #fff;
		color: var(--primary);
	}
	#cta-1294 .cs-button-solid:hover {
		color: var(--bodyTextColorWhite);
	}
	#cta-1294 .cs-background {
		width: 100%;
		height: 100%;
		background-color: var(--primary);
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
	#cta-1294 .cs-background img {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
	#cta-1294 .cs-container {
		padding-left: 3.75rem;
		padding-right: 3.75rem;
	}
	#cta-1294 .cs-content {
		text-align: left;
		max-width: 100%;
		justify-content: space-between;
	}
	#cta-1294 .cs-form {
		flex-direction: row;
	}
	#cta-1294 .cs-input {
		width: 100%;
		max-width: 32.8125rem;
	}
	#cta-1294 .cs-submit {
		width: auto;
		min-width: 11.875rem;
		/* prevents flexbox from squishing it */
		flex: none;
	}
}
/* Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
	#cta-1294 {
		margin-bottom: 0rem;
		border-radius: 1rem;
	}
	#cta-1294 .cs-content {
		flex-direction: row;
	}
	#cta-1294 .cs-form {
		width: 60%;
	}
}

/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	#cs-footer-1294 {
		background-color: #fafbfc;

		/* padding: var(--sectionPadding); */
		padding-top: 0;
		padding-bottom: 1.25rem;
		position: relative;
		background-color: var(--backgroundColor);
		z-index: 10;
		/* Navigation Links */
	}
	#cs-footer-1294 .cs-container {
		width: 100%;
		margin: auto;
	}
	#cs-footer-1294 .cs-logo-group {
		/* takes up all the space, lets the other ul's wrap below it */
		width: 100%;
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}
	#cs-footer-1294 .cs-nav {
		color: var(--bodyTextColor);
		display: flex;
		flex-direction: row;
		list-style: none;
		align-items: center;
	}
	#cs-footer-1294 .cs-logo {
		width: 12.3125rem;
		height: auto;
		display: block;
		/* 20px - 24px */
		margin: 0 0 clamp(1.25rem, 2vw, 1.5rem) 0;
	}
	#cs-footer-1294 .cs-partnerlogo-img {
		width: 100%;
		max-width: 10rem;
		height: auto;
		display: block;
		/* 20px - 24px */
		align-self: center;
		justify-self: center;
	}
	#cs-footer-1294 .freedomcoatings {
		width: fit-content;
	}

	#cs-footer-1294 .new-look {
		width: 50%;
	}
	#cs-footer-1294 .cs-logo-img {
		height: 100%;
		width: auto;
	}
	#cs-footer-1294 .cs-logo-img.dark {
		display: none;
	}
	#cs-footer-1294 .cs-text {
		color: var(--bodyTextColor);
		margin: 0 0 2rem 0;
	}
	#cs-footer-1294 .cs-link {
		font-size: 0.875rem;
		line-height: 1.5em;
		text-decoration: none;
		margin: 0;
		color: var(--bodyTextColor);
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 0.75rem;
		width: 100%;
		transition: color 0.3s;
	}
	#cs-footer-1294 .cs-link:hover {
		color: var(--primary);
	}

	#cs-footer-1294 .cs-ul {
		list-style: none;
		padding-left: 0;
		color: var(--primary);
	}

	#cs-footer-1294 .cs-sitemap {
		margin: 0 2rem;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#cs-footer-1294 .cs-quick-links {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1rem;
	}
	#cs-footer-1294 .cs-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		column-gap: 1.5rem;
		row-gap: 2.25rem;
		transform: unset;
	}
	#cs-footer-1294 .cs-nav {
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: space-between;
		gap: 1rem;
	}
	#cs-footer-1294 .cs-nav-li {
		list-style: none;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
	}
	#cs-footer-1294 .cs-header {
		font-size: 1rem;
		line-height: 1.2em;
		font-weight: 700;
		margin-bottom: 0.5rem;
		color: var(--bodyTextColor);
		position: relative;
		display: block;
	}
	#cs-footer-1294 .cs-nav-link {
		font-size: 0.875rem;
		text-decoration: none;
		line-height: 1.5em;
		width: auto;
		color: var(--bodyTextColor);
		opacity: 0.8;
		position: relative;
		display: inline-block;
		transition: color 0.3s;
	}
	#cs-footer-1294 .cs-nav-link:before {
		/* underline */
		content: "";
		width: 0%;
		height: 0.125rem;
		background: currentColor;
		opacity: 1;
		position: absolute;
		display: block;
		bottom: -0.125rem;
		left: 0;
		transition: width 0.3s;
	}
	#cs-footer-1294 .cs-nav-link:hover {
		color: var(--primary);
	}
	#cs-footer-1294 .cs-nav-link:hover:before {
		width: 100%;
	}
	#cs-footer-1294 .cs-bottom {
		/* 48px - 80px */
		margin-top: 1rem;
		/* 24px - 40px */
		padding: clamp(1.5rem, 3vw, 2.5rem);
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.75rem;
		position: relative;
		z-index: 1;
		background-color: #000;
	}
	#cs-footer-1294 .cs-bottom:before {
		content: "";
		width: 100%;
		max-width: 80rem;
		height: 1px;
		background: #2d2f2e;
		opacity: 1;
		display: block;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}
	#cs-footer-1294 .cs-copyright {
		font-size: 0.875rem;
		line-height: 1.5em;
		color: var(--bodyTextColorWhite);
		opacity: 0.8;
	}
	#cs-footer-1294 .cs-copyright .cs-copyright-link {
		opacity: 1;
	}
	#cs-footer-1294 .cs-copyright-link {
		font-size: 0.875rem;
		text-decoration: none;
		line-height: 1.5em;
		color: var(--bodyTextColorWhite);
		opacity: 0.8;
		transition: color 0.3s;
	}
	#cs-footer-1294 .cs-copyright-link:hover {
		color: var(--secondary);
	}
	#cs-footer-1294 .cs-copyright {
		text-align: center;
		width: 100%;
	}
	#cs-footer-1294 .cs-floater-wrapper {
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
	#cs-footer-1294 .cs-floater {
		width: 31.625rem;
		height: 31.625rem;
		margin-left: 34.375rem;
		border-radius: 50%;
		border: 2px solid var(--primary);
		opacity: 0.1;
		display: none;
		position: absolute;
		left: 50%;
		top: 0;
		z-index: -1;
	}
	#cs-footer-1294 .cs-floater:before {
		content: "";
		width: 44.6875rem;
		height: 44.6875rem;
		border: 2px solid var(--primary);
		border-radius: 50%;
		opacity: 0.6;
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	#cs-footer-1294 .cs-floater:after {
		content: "";
		width: 60.1875rem;
		height: 60.1875rem;
		border: 2px solid var(--primary);
		border-radius: 50%;
		opacity: 0.3;
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	#cs-footer-1294 .cs-contact-link {
		color: var(--bodyTextColor);
		text-decoration: none;
		padding-left: 0.25rem;
		hyphens: auto;
		word-break: break-word;
		overflow-wrap: anywhere;
	}
	#cs-footer-1294 .cs-contact-li {
		color: var(--bodyTextColor);
		display: flex;
		padding: 0.25rem 0;
	}
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
	#cs-footer-1294 .cs-wrapper {
		row-gap: 0;
		padding-top: 15rem;
		flex-direction: row;
		column-gap: 5.5rem;
		row-gap: 2.5rem;
		transform: translateY(-25%);
	}
	#cs-footer-1294 .cs-sitemap {
		/* display: unset; */
		align-items: flex-start;
		justify-content: flex-start;
	}
	#cs-footer-1294 .cs-header {
		text-wrap: nowrap;
	}
	#cs-footer-1294 .cs-quick-links {
		gap: unset;
		display: unset;
		margin-top: 0;
	}
	#cs-footer-1294 .cs-nav {
		width: auto;
	}
	#cs-footer-1294 .cs-bottom {
		flex-wrap: nowrap;
		justify-content: space-between;
		width: 100%;
		flex-direction: row;
	}
	#cs-footer-1294 .cs-copyright {
		text-align: left;
		width: auto;
	}
	#cs-footer-1294 .cs-floater {
		display: block;
	}
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
	#cs-footer-1294 .cs-container {
		max-width: 80rem;
		flex-wrap: nowrap;
		/* align everything to the right */
		justify-content: flex-end;
		column-gap: clamp(2.5rem, 6vw, 5.25rem);
	}
	#cs-footer-1294 .cs-wrapper {
		flex-wrap: nowrap;
	}
	#cs-footer-1294 .cs-logo-group {
		width: 30%;
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 24.1875rem;
		/* pushes away from everything to the right */
		margin-right: auto;
	}
	#cs-footer-1294 .cs-logo {
		margin-left: 2rem;
	}
	#cs-footer-1294 .cs-text {
		width: 100%;
	}
	#cs-footer-1294 .cs-graphic {
		display: block;
	}
}
@media only screen and (min-width: 81.25rem) {
	#cs-footer-1294 .cs-wrapper {
		padding-top: unset;
	}
}
